.config/nvim/lazy-lock.json

{{- if not .useBitwarden }}
.ssh/id_ed25519_personal
.ssh/id_ed25519_personal.pub
.ssh/signingkey_personal
.ssh/signingkey_personal.pub
.ssh/config.d/github_personal.conf
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{- end }}

{{- if eq .chezmoi.os "linux" }}
{{- /* WSL は ubuntu 想定のため osRelease.id で判定 */ -}}
{{-   $isDebian := or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}
{{-   if not $isDebian }}
.chezmoiscripts/linux/debian/**
{{-   end }}
{{-   if ne .chezmoi.osRelease.id "fedora" }}
.chezmoiscripts/linux/fedora/**
{{-   end }}
{{- end }}

{{- if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{- end }}
