{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{- if ne .chezmoi.os "linux" }}
{{-   if ne .chezmoi.osRelease.id "debian" }}
.chezmoiscripts/linux/debian/**
{{-   end }}
{{-   if ne .chezmoi.osRelease.id "fedora" }}
.chezmoiscripts/linux/fedora/**
{{-   end }}
{{-   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   end }}
{{- end }}

{{- if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
{{- end }}
