{{- if eq .chezmoi.os "darwin" }}
.chezmoiscripts/linux/**
.chezmoiscripts/windows/**
{{ end }}

{{- if eq .chezmoi.os "linux" }}
{{-   if eq .chezmoi.osRelease.id "debian" }}
.chezmoiscripts/darwin/**
.chezmoiscripts/linux/fedora/**
.chezmoiscripts/windows/**
{{-   end }}
{{-   if eq .chezmoi.osRelease.id "fedora" }}
.chezmoiscripts/darwin/**
.chezmoiscripts/linux/debian/**
.chezmoiscripts/windows/**
{{-   end }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
.chezmoiscripts/darwin/**
.chezmoiscripts/linux/fedora/**
.chezmoiscripts/windows/**
{{-   end }}
{{- end }}

{{- if eq .chezmoi.os "windows" }}
.chezmoiscripts/darwin/**
.chezmoiscripts/linux/**
{{- end }}
