# https://git-scm.com/docs/git-config#_configuration_file
[advice]
	statusHints = false

[branch]
	sort = committerdate

[core]
{{- if eq .chezmoi.os "darwin"}}
	precomposeUnicode = true
{{- end}}
	quotepath = false
	editor = nvim
	pager = delta

{{- $ghPath := lookPath "gh" }}
{{- if $ghPath}}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}

[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
	guitool = vscode-diff

[difftool "vscode-diff"]
	cmd = code --wait --diff $LOCAL $REMOTE

[difftool]
	guiDefault = auto

[fetch]
	prune = true
	pruneTags = true

# Added by `git lfs install`
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	ff = false
	conflictStyle = zdiff3
	tool = vimdiff
	guitool = vscode-merge

[mergetool "vscode-merge"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[mergetool]
	guiDefault = auto
	prompt = false

[pull]
	ff = only

[push]
	default = current
	autoSetupRemote = true

[rebase]
	autoStash = true

[rerere]
	enabled = true

[url "https://github.com/"]
	insteadOf = http://github.com/
	insteadOf = git@github.com:
	insteadOf = git://github.com/
	insteadOf = gh://

[include]
	path = config.d/user.ini
	path = config.d/aliases.ini
	path = config.d/delta.ini

# Please add the settings you want to overwrite.
[include]
	path = config.d/local/config.ini
