[Desktop Entry]
Type=Application
Exec=gnome-terminal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=gnome-termnal
Name=auto start gnome-termnal
Comment[ja_JP]=auto start gnome-terminal
Comment=auto start gnome-terminal
